/* Base Application Styles */
$baseColor: #930011;

html {
  font-size: 16px;
}

@media (max-width: 320px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 321px) and (max-width: 360px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 376px) and (max-width: 414px) {
  html {
    font-size:18px;
  }
}

body, ul {
  margin: 0;
  padding: 0;
  font-family: "Microsoft yahei";
}

*{
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: $baseColor;
  padding: 0 16px;
}

.body-container {
  $borderStyle: 10px #e8bf53 solid;
  flex: 1;
  background-color: #fdfac4;
  margin:0 auto;
  border-left: $borderStyle;
  border-right: $borderStyle;
}

.header-img-container {
  margin-bottom: 1.6rem;
}

.header-img {
  width: 106%;
  margin:0 3% 0 -3%;
}

.main-container {
  padding: 0 1rem;
  margin-bottom: 20px;
}

.loader-inner {
  display: flex;
  height: 200px;
  justify-content: center;
}

.item-container {
  border-bottom:1px solid #b20000;
  padding: 1rem 1rem 1.6rem 0;
}

.item-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-header-title-container {
  display: flex;
  align-items: center;
}

.item-header-icon {
  width: 0.6rem;
  margin-right: 0.2rem;
}

.item-header-title {
  color: #b20000;
  font-size: 1.4rem;
}

.item-header-btn {
  color: #7f0000;
}

.item-content-container {
  margin-bottom: 1rem;
}

.item-content {
  color: #333333;
  font-size: 1rem;
}

.item-foot-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #49494b;
  -webkit-tap-highlight-color:transparent;
}

.vote-count-span {
}

.vote-btn-label {
  margin-right: 0.2rem;
}

.vote-btn-btn-default, .vote-btn-btn-selected, .vote-btn-btn-disabled {
  $btnWidth: 1.2rem;
  width: $btnWidth;
  height: $btnWidth;
  border-radius: 1rem;
}

.vote-btn-btn-default {
  border: 2px #7f0000 solid;
}

.vote-btn-btn-disabled {
  background-color: #888773;
}

.vote-btn-btn-selected {
  background-color: #b9000d;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.vote-btn {
  background-color: #930011;
  padding: 0.6rem 1.8rem;
  border: none;
  color: #fdfac4;
  font-size: 1rem;
  border-radius: 0.4rem;
}

.footer {
  display: flex;
  align-items: center;
  padding:0 1rem 1rem 1rem;
}

.rule-container {
  color: #49494b;
  flex: 1;
  p {
    margin: 0.2rem 0;
  }
}

.rule-title {
  color: #000000;
}

.logo-img {
  width: 6rem;
}

.alert-title {
  font-size: 0.5rem;
}

.sweet-alert button.confirm {
  color: #dd0000;
}

.logo-container1 {
  overflow:hidden;
  width:0px;
  height:0;
  margin:0 auto;
  position:absolute;
  top:-800px;
}

.item-content-voting-mesg-container {
  margin-top: 0.4rem;
  color: #ff2f3a;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}
